<div class="row field">
  <label>Asset title</label>
  <%= asset.title %>
</div>

<div class="row field">
  <label>Asset summary</label>
<img src="<%= asset.asset_url %>" />

<div class="row entry-container">
  <%= asset.description %>
</div>
