<article class="row entry-full">
<h1 class="entry-title"><%= @page.title %></h1>

<div class="row entry-container">
	<%= @page.description %>
</div>

<% @page.assets.each do |asset| %>
  <%= render :partial => 'shared/asset', :locals => { :asset => asset } %>
<% end %>
</article>
