<%= link_to 'Back', assets_path %>
<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_asset_path(@asset), :class => 'btn edit-asset' %>

<%= render :partial => 'shared/asset', :locals => { :asset => @asset } %>
