/* Logo */
#logo {
	display: block;
	margin: 2em 1em;
	width: 186px;
	height: 90px;
	text-indent: -9999em;
	background: image-url('logo_commercial_NUT_2010.png') top left no-repeat
}

#new_asset { display: none; }

/* Content lists */
.content-list {
	.entry-header:nth-child(even) { background: $baseBG } 
	.entry-summary { margin-bottom: 1em }
	.entry-utilities { margin: 0 1em; padding-bottom: 1em }
	.entry-preview img { width: auto; }
}

/* Assets */
img, .video-js { max-width: 100% }
.video-js { margin-bottom: 1.6em }
div.asset-summary + div.video-js { margin: 1.6em 0; }

.downloads,
.asset-summary.downloads { width: 100%; margin: 1em 0 0 0; padding: 1em 0 0.5em }

.page-summary, .asset-summary { margin: 1em; font-size: 1em; line-height: 1.5em }

.asset-summary { 
	margin: -1.5em 0 0.1em 0;
	padding: 1em 0 1em 0;
	background: $baseBG;

	p { margin: 0 1em; padding: 0 }
}

.asset.field { margin: -0.5em 0 0 -1em; padding: 0 1em 0.1em; background: $baseBG }

.field img { max-width: 104.4%; margin: 0 0 1em -1em }
.field .vjs-tech { width: 104.4%; margin: 0 0 1em -1.6em }
.field .video-js { background: transparent }

input[id="page-title"] { 
	width: 15.9em;
	margin-bottom: 0.875em;
	padding: 0.2em;
	font-family: Clarendon;
	font-weight: normal;
	font-size: 2.25em; 
	line-height: 1.3em;
	border: none;
	border-bottom: 1px dashed $baseBorder 
}

.asset.summary textarea[id="asset-summary"] { float: left }
textarea[id="asset-summary"] { width: 35.4em }
textarea[id="asset-summary"], textarea[id="page-summary"] { width: 94%; font-size: 1em; font-family: Transit }