/* Logo */
#logo {
	display: block;
	margin: 2em 1em;
	width: 186px;
	height: 90px;
	text-indent: -9999em;
	background: image-url('logo_commercial_NUT_2010.png') top left no-repeat
}

#new_asset { display: none; }

/* Content lists */
.content-list {
	.entry-header:nth-child(even) { background: $baseBG }
	.entry-summary { margin-bottom: 1em }
	.entry-utilities { margin: 0 1em; padding-bottom: 1em }
	.entry-preview img { width: auto; }
}

/* Assets */
img { display: block; }
img, .video-js { max-width: 100% }
.video-js { }
div.asset-summary + div.video-js { margin: 1.6em 0; }

.field img { max-width: 104.4%; margin: 0 0 1em -1em }
.field .vjs-tech { width: 100%; margin: 0 0 1em -30px; }
.field .video-js { background: transparent }

.downloads,
.asset-summary.downloads { width: 100%; margin: 1em 0 0 0; padding: 1em 0 0.5em }

.page-summary, .asset-summary { margin: 1em; font-size: 1.3125em; line-height: 1.3em }
@media screen and (min-width: 768px) { 
	img { max-width: 48em } 
	.page-summary,
	.asset-summary { 
		margin: 1em; 
		font-size: 1em; 
		line-height: 1.5em
	}
}

.asset-summary { 
	margin: 0em 0 1em 0;
	padding: 1em 0 1em 0;
	background: $baseBG;

	.text { margin: 0 0.5em; padding: 0 }
}


@media screen and (min-width: 768px) {
	.asset-summary .text { margin: 1.5em 0 0.5em 1em }
}

/*.asset.field {
	margin: -0.5em 0 0 -1em;
	padding: 0 1em 0.1em;
	background: $baseBG;
}*/

input[id="page-title"] { 
	width: 96%;
	margin-bottom: 0.875em;
	padding: 0.2em;
	font-family: Clarendon;
	font-weight: normal;
	font-size: 2.25em; 
	line-height: 1.3em;
	border: none;
	border-bottom: 1px dashed $baseBorder 
}
@media screen and (min-width: 760px) { input[id="page-title"] { width: 15.9em } }

// .asset.summary textarea[id="asset-summary"] { float: left }
//textarea[id="asset-summary"], textarea[id="page-summary"] { width: 94%; font-size: 1em; font-family: Transit }
//@media screen and (min-width: 760px) { textarea[id="asset-summary"] { width: 35.4em } }


.asset {
	background: $baseBG;
	margin: 1.5em 0;

	img {
		display: block;
	}
	.filename {
		margin-top: 2px;
		font-size: 1.9em;
	}
	.meta {
		padding: 1em;
	}
	.description {
		margin-right: 138px;
	}
	textarea, .text {
	}
	textarea {
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.text {
		/*margin-top: 0.5em;*/
	}
	.actions {
		float: right;
		.btn {
			display: block;
			width: 100px;
			margin-bottom: 0;
		}
		.btn.remove { margin-bottom: 1em; }
	}

}

