/* Logo */
#logo {
	display: block;
	margin: 2em 1em;
	width: 186px;
	height: 90px;
	text-indent: -9999em;
	background: image-url('logo_commercial_NUT_2010.png') top left no-repeat
}

#new_asset { display: none; }

/* Content lists */
.content-list {
	.entry-header:nth-child(even) { background: rgb(236,237,235) }
	.entry-summary { margin-bottom: 1em }
	.entry-utilities { margin: 0 1em; padding-bottom: 1em }
}

/* Pages */
img { width: 100% }
@media screen and (min-width: 768px) { img { width: 48em } }
.page-summary { 
	margin: 1em; 
	font-size: 1.3125em; 
	line-height: 1.3em
}

/* page: forms */
input[id="page-title"] { 
	width: 96%;
	margin-bottom: 0.875em;
	padding: 0.2em;
	font-family: Clarendon;
	font-weight: normal;
	font-size: 2.25em; 
	line-height: 1.3em;
	border: none;
	border-bottom: 1px dashed $baseBorder 
}
@media screen and (min-width: 760px) {
	input[id="page-title"] { width: 15.9em }
}

textarea[id="page-summary"] { width: 94%; font-size: 1em; }
@media screen and (min-width: 760px) {
	textarea[id="page-summary"] { width: 35.4em }
}
.field img { margin-left: -1em; }

/* Assets */

/* asset: form */
textarea[id="asset-summary"] { width: 94%; margin-top: 1em; font-size: 1em; }
@media screen and (min-width: 760px) {
	textarea[id="asset-summary"] { width: 35.4em }
}