/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 * Not yet known = scaffolds, and what portions of skeleton 	
 *= require_self
 *= require skeleton
 *= require layout
 *= require forms	
 *= require models
 *= require states
 */

/* -------
Fonts
------- */
@font-face {
  font-family: Transit;
  src: url("transit/TransitWebPro.eot?") format('eot'), url("transit/TransitWebPro.woff") format("woff");
}

@font-face {
  font-family: Clarendon;
  src: url("clarendon/c070002tWeb.eot?") format('eot'), url("clarendon/c070002tWeb.woff") format("woff");
}
@font-face {
  font-family: Clarendon;
  font-weight: bold;
  src: url("clarendon/c070004tWeb.eot?") format('eot'), url("clarendon/c070004tWeb.woff") format("woff");
}