@media screen and (min-width: 727px) {
 div[id="container"] { font-size: 1.6875em }
}
@media screen and (min-width: 728px) {
 div[id="container"] { font-size: 1em }
}
@media screen and (min-width: 760px) {
 div[id="container"] { width: 47.5em }
}

h1 { margin-left: 0.5em }
h2 { margin-left: 0.7em }
h3, h4, h5, h6 { margin-left: 1em }

p, form, nav, aside, section { margin-left: 1em; margin-right: 1em }

article > video, article > img { margin: 1em 0 }

form { margin: 1em 1em 2em }
input[type="text"], 
input[type="email"], 
input[type="password"],
textarea { width: 97% }
input[type="checkbox"] { width: 2em; height: 2em }
.checkbox-label { 
	position: relative; 
	top: -1.8em; 
	left: 2em; 
	width: 96%; 
}










input[type="submit"],
input[type="reset"],
input[type="button"],
textarea,
select {
	/*font: 0.875em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	padding:0.6875em 0.625em 0.625em 0.625em;
	color: $baseFontColor */
}